*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NavBar */
.NavBar_wrapper {
    background:white;
    border: 1px solid #E5E5E5;

    position: fixed;
    z-index: 99;
    width: 1920px;
    height: 66px;
    left: 0px;
    top: 0px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}
/* NavBar_logo*/
.NavBar_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 600px;

    margin-left: 28px;
}
.NavBar_logo a {
    width: 40px;
    height: 40px;
}
.NavBar_logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.NavBar_logoHeading {
    font-weight: bold;
    font-size: 24px;

    margin-left: 26px;
}
/* NavBar_actions */
.NavBar_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 600px;

    margin-right: 28px;
}
.NavBar_actions button {
    font-weight: 600;
    font-size: 18px;
    color: white;

    background: #1AAD8A;
    border: none;

    width: 132px;
    height: 39px;
    padding: auto;
}


/* Section App */
/* CONTENT */
/* Header */
.Home_header {
    position: absolute;
    left: 0px;
    top: 76px;
}
.Header_wrapper {
    width: 1920px;
    height: 450px;
}
.BackgroundImg {
    width: 1920px;
    height: 450px;

    opacity: 0.8;

    object-fit: cover;
}
.White_broad {
    background: white;
    border-radius: 50px 0px;

    position: absolute;
    width: 1137px;
    height: 400px;
    left: 27px;
    top: 25px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.White_broad img {
    width: 297px;
    height: 297px;

    object-fit: cover;
    margin-left: 65px;
}
.Header_information {
    height: 260px;
    margin-left: 76px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Header_information p {
    font-weight: normal;
    font-size: 24px;
}
.information {
    color: #11998E;
    font-weight: bold;
}
.information h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
.information h3 {
    font-size: 34px;
    margin-bottom: 10px;
}
.login-register {
    font-weight: normal;
    font-size: 24px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.login-register button {
    font-weight: 600;
    font-size: 18px;
    color: white;

    background: #1AAD8A;
    border: none;

    width: 132px;
    height: 39px;
    padding: auto;
}
/* Section */
.Link_wrapper {
    position: absolute;
    width: 1590px;
    height: 284px;
    left: 165px;
    top: 590px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Link_item {
    background: white;
    border-radius: 40px 0px;

    width: 406px;
    height: 284px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Item_icon,
.Item_link-green {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Item_icon {
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #E5E5E5;

    background: white;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    border-radius: 40px 0px 0px 0px;

    width: 406px;
    height: 212px;
}
.Item_link-green {
    background: #1AAD8A;
    border: 1px solid #1AAD8A;
    border-radius: 0px 0px 40px 0px;

    width: 406px;
    height: 71px;
}
.Item_link-green a {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;

    text-decoration: none;
}

/* Footer */
.Footer_wrapper {
    background:white;
    border: 1px solid #E5E5E5;

    position: fixed;
    z-index: 99;
    width: 1920px;
    height: 31px;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Footer_wrapper p {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #c4c4c4;

    margin-right: 28px;
}